<!DOCTYPE html>
<html>
  <title>ariadiprana-projectphase2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <body>
    <div class="container">
    	<div class="login-container">
                <div id="output"></div>
                <img src="./images/logo.png" class="avatar">
                <div class="form-box">
                    <form action="/signup" method="POST">
                        <input name="username" type="text" placeholder="username">
                        <input name="password" type="password" placeholder="password">
                        <br><br>
                        <input name="namadepan" type="text" placeholder="nama depan">
                        <input name="namabelakang" type="text" placeholder="nama belakang">
                        <br><br>
                        <button type="submit" class="btn btn-primary">Register</button>

                    </form>
                </div>
            </div>

    </div>
  </body>
</html>
